$screen-phone-max: 480px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1400px;
$screen-hd-min: 1600px;

@mixin respond-to($media) {
    // special style only for extermely small mobile screens
    // limited from above
    @if $media == phone {
        @media (max-width: $screen-phone-max) {
            @content;
        }
    }

    // special style only for small devices,
    // limited from above
    @else if $media == xs {
        @media (max-width: $screen-sm-min - 1) {
            @content;
        }
    }

    // special style only for special cases,
    // limited from above
    @else if $media == tablet {
        @media (max-width: $screen-lg-min - 1) {
            @content;
        }
    }

    // bootstrap responsive sizes, mobile first method
    @if $media == sm {
        @media (min-width: $screen-sm-min) {
            @content;
        }
    }
    @else if $media == md {
        @media (min-width: $screen-md-min) {
            @content;
        }
    }
    @else if $media == lg {
        @media (min-width: $screen-lg-min) {
            @content;
        }
    }
    @else if $media == xl {
        @media (min-width: $screen-xl-min) {
            @content;
        }
    }
    @else if $media == xxl {
        @media (min-width: $screen-xxl-min) {
            @content;
        }
    }
    @else if $media == hd {
        @media (min-width: $screen-hd-min) {
            @content;
        }
    }
}

@mixin font-size($sizelist) {
    font-size: nth($sizelist, 1);
    @include respond-to(md) {
        font-size: nth($sizelist, 2);
    }
}
